html, body, div, canvas, ul, li, p, svg { border: 0; padding: 0; margin: 0; }
body { zoverflow: hidden; }

html { height: 100%; zoverflow: hidden; }
body { 
  height: 100%;
}


*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/* required styles */

.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
	position: absolute;
	left: 0;
	top: 0;
	}
.leaflet-container {
	overflow: hidden;
	-ms-touch-action: none;
	}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	-webkit-user-drag: none;
	}
.leaflet-marker-icon,
.leaflet-marker-shadow {
	display: block;
	}
/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
	max-width: none !important;
	}
/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
	max-width: 15000px !important;
	}
.leaflet-tile {
	filter: inherit;
	visibility: hidden;
	}
.leaflet-tile-loaded {
	visibility: inherit;
	}
.leaflet-zoom-box {
	width: 0;
	height: 0;
	}
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
	-moz-user-select: none;
	}

.leaflet-tile-pane    { z-index: 2; }
.leaflet-objects-pane { z-index: 3; }
.leaflet-overlay-pane { z-index: 4; }
.leaflet-shadow-pane  { z-index: 5; }
.leaflet-marker-pane  { z-index: 6; }
.leaflet-popup-pane   { z-index: 7; }


/* control positioning */

.leaflet-control {
	position: relative;
	z-index: 7;
	pointer-events: auto;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 10px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 10px;
	}
.leaflet-left .leaflet-control {
	margin-left: 10px;
	}
.leaflet-right .leaflet-control {
	margin-right: 10px;
	}


/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	   -moz-transition: opacity 0.2s linear;
	     -o-transition: opacity 0.2s linear;
	        transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1;
	}

.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
	     -o-transition:      -o-transform 0.25s cubic-bezier(0,0,0.25,1);
	        transition:         transform 0.25s cubic-bezier(0,0,0.25,1);
	}
/*.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 2.5s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 2.5s cubic-bezier(0,0,0.25,1);
	     -o-transition:      -o-transform 2.5s cubic-bezier(0,0,0.25,1);
	        transition:         transform 2.5s cubic-bezier(0,0,0.25,1);
	}*/
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
	-webkit-transition: none;
	   -moz-transition: none;
	     -o-transition: none;
	        transition: none;
	}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden;
	}


/* cursors */

.leaflet-clickable {
	cursor: pointer;
	}
.leaflet-container {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	}
.leaflet-popup-pane,
.leaflet-control {
	cursor: auto;
	}
.leaflet-dragging,
.leaflet-dragging .leaflet-clickable,
.leaflet-dragging .leaflet-container {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	}


/* visual tweaks */

.leaflet-container {
	background: #ddd;
	outline: 0;
	}
.leaflet-container a {
	color: #0078A8;
	}
.leaflet-container a.leaflet-active {
	outline: 2px solid orange;
	}
.leaflet-zoom-box {
	border: 2px dotted #05f;
	background: white;
	opacity: 0.5;
	}


/* general typography */
.leaflet-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	}


/* general toolbar styles */

.leaflet-bar {
	box-shadow: 0 1px 7px rgba(0,0,0,0.65);
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	}
.leaflet-bar a, .leaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	}
.leaflet-bar a,
.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-bar a:hover {
	background-color: #f4f4f4;
	}
.leaflet-bar a:first-child {
	-webkit-border-top-left-radius: 4px;
	        border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	        border-top-right-radius: 4px;
	}
.leaflet-bar a:last-child {
	-webkit-border-bottom-left-radius: 4px;
	        border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	        border-bottom-right-radius: 4px;
	border-bottom: none;
	}
.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
	}

.leaflet-touch .leaflet-bar {
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	}
.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	}
.leaflet-touch .leaflet-bar a:first-child {
	-webkit-border-top-left-radius: 7px;
	        border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	        border-top-right-radius: 7px;
	}
.leaflet-touch .leaflet-bar a:last-child {
	-webkit-border-bottom-left-radius: 7px;
	        border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	        border-bottom-right-radius: 7px;
	border-bottom: none;
	}


/* zoom control */

.leaflet-control-zoom-in {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	}
.leaflet-control-zoom-out {
	font: bold 22px 'Lucida Console', Monaco, monospace;
	}

.leaflet-touch .leaflet-control-zoom-in {
	font-size: 22px;
	line-height: 30px;
	}
.leaflet-touch .leaflet-control-zoom-out {
	font-size: 28px;
	line-height: 30px;
	}


/* layers control */

.leaflet-control-layers {
	box-shadow: 0 1px 7px rgba(0,0,0,0.4);
	background: #f8f8f9;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	}
.leaflet-control-layers-toggle {
	background-image: url(images/layers.png);
	width: 36px;
	height: 36px;
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(images/layers-2x.png);
	background-size: 26px 26px;
	}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px;
	}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none;
	}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
	}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
	}
.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-layers label {
	display: block;
	}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
	}


/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 5px #bbb;
	margin: 0;
	}
.leaflet-control-attribution,
.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333;
	}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
	font-size: 11px;
	}
.leaflet-left .leaflet-control-scale {
	margin-left: 5px;
	}
.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px;
	}
.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	color: black;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	text-shadow: 1px 1px 1px #fff;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
	white-space: nowrap;
	overflow: hidden;
	}
.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
	}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	box-shadow: none;
	}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 4px solid rgba(0,0,0,0.3);
	}


/* popup */

.leaflet-popup {
	position: absolute;
	text-align: center;
	}
.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	-webkit-border-radius: 12px;
	        border-radius: 12px;
	}
.leaflet-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
	}
.leaflet-popup-content p {
	margin: 18px 0;
	}
.leaflet-popup-tip-container {
	margin: 0 auto;
	width: 40px;
	height: 20px;
	position: relative;
	overflow: hidden;
	}
.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;

	margin: -10px auto 0;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: white;

	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}
.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}


/* div icon */

.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666;
	}
.leaflet-editing-icon {
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	}
/* timb: edits to the main leaflet css */

#map .leaflet-shadow-pane       { z-index: 5; }
#map .leaflet-marker-anim-pane  { z-index: 6; }
#map .leaflet-marker-pane       { z-index: 7; }
#map .leaflet-popup-pane        { z-index: 8; }

.leaflet-marker-anim-pane {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-marker-anim {
  position: absolute;
  left: 0;
  top: 0;
}

/* see also css_transition_ms in anim_map.js */
#map .leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0,0,0.25,1);
     -moz-transition:    -moz-transform 0.1s cubic-bezier(0,0,0.25,1);
       -o-transition:      -o-transform 0.1s cubic-bezier(0,0,0.25,1);
          transition:         transform 0.1s cubic-bezier(0,0,0.25,1);
  }#background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  /*background-color: #f00;*/
  overflow: hidden;
}#map { height: 100%; width: 100%; }

#map.leaflet-container {
  background: transparent;
  outline: 0;
}

#zmap.leaflet-container img.leaflet-tile {
  opacity: 0.5;
  visibility: hidden;  
}#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}#map.zoomed-out .pin-anim-overlay, #map.zoomed-out .pin-anim-bg {
  -webkit-transform: scale(0.5, 0.5);
  -webkit-transform-origin: 15px 50px;
}

.pin-anim {
  position: absolute;
}

.pin-anim-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.pin-anim-bg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
}.player-popup {
  width: 430px;
  background-color: #000;
  opacity: 0.9;
  /*position: absolute;*/
  padding: 20px 15px;
}

.player-popup h2, .player-popup h3, .player-popup p {
  font-family: MaisonNeue;
  color: #fff;
}

.player-popup h3, .player-popup p {
  color: #bbb;
  text-align: left;
  padding: 0 0 6px 0px;
  font-size: 12px;
}

.player-popup h2 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 8px;
}

.player-popup .player-close {
/*  width: 14px;
  height: 14px;
  background-image: url("/img/player/close.png");*/
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}.soundcloud-player {
  /*border: 1px solid red;*/
  position: relative;
  width: 400px;
  opacity: 1;
}

.soundcloud-player-inner {
  height: 70px;
  /*background-color: #222;*/
}

.soundcloud-play-pause {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  /*background-color: #222;*/
  cursor: pointer;
  background-position: 9px 9px;
  background-repeat: no-repeat;
}

.soundcloud-play-pause.playing {
  background-image: url("../img/player/soundcloud-pause.png");
}

.soundcloud-play-pause.paused {
  background-image: url("../img/player/soundcloud-play.png");
}

.soundcloud-track-title {
  position: absolute;
  top: 15px;
  right: 0;
  width: 340px;
  /*background-color: #222;  */
}


#ui-popup .waveform {
  position: absolute;
  top: 150px;
  left: 15px;
}

#soundcloud-flash-player{
  top: -10px;
  left: -10px;
  position: absolute;
  width: 1px;
  height: 1px;  
}

/*.soundcloud-waveform {
  position: absolute;
  left: 0;
  right: 0;
}*/

/*

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
*/#ui {
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
}#ui-popup {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto;
}#text-title {
  pointer-events: none;
}


#ui .title {
  visibility: hidden;
  position: absolute;
  right: -70px;
  top: 50%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  pointer-events: none;

}#ui-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  pointer-events: none;
}

#ui-bottom li {

  padding: 0 10px 5px 10px;
  pointer-events: auto;
  cursor: pointer;
}

#ui .text {
  font-size: 16px;
  font-family: MaisonNeue;
  text-decoration: underline;
  letter-spacing: 5px;
  font-weight: normal;  
}

.popup-with-tail {
  color: #fff;
  display: none;
  position: absolute;
  width: 400px;
  height: 320px;
  min-height: 320px;
}

.popup-tail {
  position: absolute;
  bottom: 0px;
  overflow-y: auto;
  height: 50px  
}

.popup-content {
  position: absolute;
  bottom: 50px;
  overflow-y: auto;
  zzheight: 230px;
  max-height: 280px;  
}



.popup-content p, .popup-content form {
  width: 400px;
  vertical-align: bottom;
  background-color: rgba(32,32,32, 0.85);
  font-size: 14px;
  font-family: MaisonNeue;
}

.popup-content p {
  padding: 10px;
}


.popup-content p a, .popup-content p a:active, .popup-content p a:visited {
  color: #fff;
}

#popup-about {
  right: 31px;
  bottom: 30px;
  pointer-events: auto;
}

#popup-add {
  left: 45px;
  bottom: 30px;
  pointer-events: auto;

}

#popup-add label {
  cursor: pointer;
  padding: 10px;
}

#popup-add input {
  cursor: pointer;
}

#popup-add input {
  /*position: absolute;*/
  /*right: 0;*/
  margin: 5px 0px;
  padding: 3px;

  background-color: transparent;
  color: rgba(255,255,255, 0.7);
  font-size: 14px;
  font-family: MaisonNeue;  

  border: none;
}

#popup-add input:focus {
  /*border: 2px solid rgba(255,255,255, 0.8);*/
  color: #fff;
  background-color: rgba(32,32,32, 1.0);
}

#popup-add button {
  color: #000;
  padding: 2px;
  font-size: 16px;
  margin: 10px;
  font-family: MaisonNeue;    
}


#popup-share {
/*  margin-left: auto;
  margin-right: auto;*/
  bottom: 30px;
  pointer-events: auto;
  
}

/* timb: failed svg attempt at clipping
 .popup-tail {
  width: 400px;
  height: 50px;
  background-image: url(../img/bg.checkerboard.gif);
  background-size: 16px 16px;
  clip-path: url(#popup1);
  z-webkit-clip-path: polygon(0px 0px, 400px 0px, 380px 50px);
  -webkit-clip-path: url(#popup1);

}*/
#ui-timeline {
  position: absolute;
  /*top: 0;*/
  /*left: 50%;*/
  /*border: 1px solid red;*/
}

#ui-timeline canvas {
  pointer-events: auto;
}

#ui-timeline .date {
  font-size: 16px;
  font-family: MaisonNeue;
  text-decoration: underline;
  letter-spacing: 5px;
  display: inline-block;
  position: absolute;
  pointer-events: none;
  /*text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff;*/
}#ui-zoom {
  position: absolute;
  pointer-events: auto;
  
  /*top: 0;*/
  /*left: 10px;*/
  /*pointer-events: none;  */
  /*border: 1px solid red;*/
}

#ui-zoom canvas, #ui-timeline canvas, #ui #text-title {
  position: absolute;
  top: 0;
  left: 0;
  /*pointer-events: none;  */
}

#ui-zoom .zoom-out {
  border: 1px solid red;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  pointer-events: auto;  
  cursor: pointer;
}

#ui-zoom .zoom-in {
  border: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: auto;  
  cursor: pointer;
}

#ui-zoom .zoom-knob {
  border: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: auto;  
  cursor: pointer;
}/*@font-face {
  font-family: MaisonNeue;
  src: url(../fonts/MaisonNeue-Mono.otf);
}*/

.hidden {
  display: none;
}


.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html body.cursor-default {
  /*cursor: default !important;*/
}

html body.cursor-pointer, html body.cursor-pointer .soundcloud-waveform {
  cursor: pointer !important;
}